body {
  margin: 0;
  background-color: #777;
}

.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.dialog {
  background-color: #fff;
  max-height: 500px;
  max-width: 350px;

  &__header {
    background-color: #ddd;
    display: flex;
  }

  &__header-title-container {
    width: 230px;
    height: 70px;

  }

  &__header-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__header-button {

  }

  &__content {
    display: flex;
    height: 350px;
    background-color: white;

  }

  &__content-block {
    &_left {
      width: 30%;
      border-right: 1px solid #ccc;
    }

    &_right {
      width: 70%;
      overflow: auto;
    }
  }

  &__footer {
    background-color: #ddd;
    text-align: center;

  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 500px;
  width: 100%;
}
